<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% links.forEach( l => {%>
                <li class="main-header__item">
                    <a class="<%= l.class %>" href="<%= l.href %>"><%= l.label %></a>
                </li>
            <% })%>
        </ul>
    </nav>
</header>